.DS_Store
/html/
.bundle
/.yardoc
/.yarn
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
tmp/
appmap_hook.log
vendor
node_modules
Gemfile.lock
appmap.json
.vscode
.byebug_history
/lib/appmap/appmap.bundle
*.so
