.DS_Store
/html/
/.appmap/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
tmp/
vendor
node_modules
Gemfile.lock
appmap.json
.vscode
.byebug_history

/test/fixtures/rspec_recorder/.bundle/