doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/lib/bootstrap-4.1.3/css/bootstrap.css')
      if maincss
        link(rel='stylesheet', href=maincss)
    block scripts
      if mainjs
        script(src=mainjs, type="module")

  body
    .container
      .row
        .col-md-12
          h2.title
            a(href='/') AppMap Lore
            span &nbsp; > &nbsp;
            = title

      .row
        .col-md-12
          h1 Objective
      .row
        .content-column.col-md-12
          #objective.commentable
            block objective
              p TODO

        .comment-column.col-md-4.hidden

      .row
        .col-md-12
          h1 Approach
      .row
        .content-column.col-md-12
          #approach.commentable
            block approach
              p TODO

        .comment-column.col-md-4.hidden

      .row
        .col-md-12
          h1 Results
      .row
        .content-column.col-md-12
          #results.commentable
            block results
              p TODO

        .comment-column.col-md-4.hidden

      .row
        .col-md-12
          h1 Next Steps
      .row

        .content-column.col-md-12
          #next-steps.commentable
            block next_steps
              p TODO

        .comment-column.col-md-4.hidden
